* {
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    padding:0;
}

body{
    background: -webkit-gradient(linear, right top, left bottom, from(rgb(125, 255, 73)), to(#63ffd8)) fixed;
}

/* nav stuff */

.nav{
    background-color: #ffffff33;
    height: fit-content;
}

.nav .navItems{
    width: fit-content;
    text-align: right;
    float: right;
}

.nav p{
    display: inline-block;
    width: fit-content;
    padding: 20px;
}

.nav a{
    color: black;
    text-decoration: none;
}

.nav a:visited{
    color:rgb(1, 1, 146);
}

/* End of Nav Stuff */

.wrapper .header{
    animation: 2s alternate infinite header;
    margin: 20px 0px 100px;
    text-align: center;
}

@keyframes header{
    from{
        font-size: 26px;
        transform:rotate(-2deg);
    }

    to{
        font-size: 24px;
        transform: rotate(2deg);
    }
}

.wrapper .aBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
    height: 250px;
    animation: 2s alternate infinite ease spin;
}

.wrapper .aBox p{
    margin:0;
    font-size: 22px;
    animation: 2s alternate infinite ease counterSpin;
}

@keyframes spin{
    from{
        background-color: #5f6ef3;
        border-radius: 75px;
    }

    to{
        border-radius: 0px;
        background-color: #7722cc77;
        transform: rotateZ(180deg);
    }
}

@keyframes counterSpin{
    from{

    }

    to{
        transform: rotateZ(-180deg);
    }
}