* {
    font-family:'Source Code Pro', monospace;;
    margin:0;
    padding:0;
}

html{
    animation: 10s alternate infinite colorShift;
}

body{
    background: -webkit-gradient(linear, right top, left bottom, from(rgb(125, 255, 73)), to(#63ffd8)) fixed;
    animation: 10s alternate infinite colorShift;
}

@keyframes colorShift {
    from{
        backdrop-filter: hue-rotate(0deg);
    }
    to{
        backdrop-filter: hue-rotate(360deg);
    }
}

section{
    width: 100%;
    display: block;
}

.content{
    height: 100%;
}

/* nav stuff */

.nav{
    background-color: #ffffff33;
    height: fit-content;
}

.nav .navItems{
    width: fit-content;
    text-align: right;
    float: right;
}

.nav p{
    display: inline-block;
    width: fit-content;
    padding: 20px;
}

.nav a{
    color: black;
    text-decoration: none;
}

.nav a:visited{
    color:rgb(1, 1, 146);
}

/* End of Nav Stuff */

.wrapper .header{
    animation: 2s alternate infinite header;
    margin: 20px 0px 100px;
    text-align: center;
}

@keyframes header{
    from{
        transform:rotate(-1.5deg);
    }

    to{
        transform: rotate(1.5deg);
    }
}

.wrapper .content .info{
    text-align: left;
    margin-left: 150px;
    margin-right: auto;
    border-radius: 25px;
    height: 300px;
    width: 500px;
    background-color: rgba(43, 188, 255, 0.733);
    margin-bottom: 100px;
    transition: all 1s ease;
}

.wrapper .content .info:hover{
    transform: perspective(500px) translate3d(0px, 0px, 70px);
}

.wrapper .content .info p{
    padding: 100px 60px 50px 30px;
    margin:0px 20px 0px 10px;
}


.wrapper .content .other{
    margin-left:auto;
    margin-right: 150px;
    text-align: left;
    border-radius: 25px;
    height: 300px;
    width: 500px;
    background-color: rgba(43, 188, 255, 0.733);
    margin-bottom: 100px;
    transition: all 1s ease;
}

.wrapper .content .other:hover{
    border-radius: 200px;
    transform: rotate(-10deg);
}

.wrapper .content .other p{
    padding: 100px 60px 50px 30px;
    margin:0px 20px 0px 10px;
}

.wrapper .content .another{
    margin-left:auto;
    margin-right: auto;
    text-align: left;
    border-radius: 25px;
    height: 300px;
    width: 500px;
    background-color: rgba(43, 188, 255, 0.733);
    margin-bottom: 100px;
    transition: all 0.5s ease;
}

.wrapper .content .another:hover{
    transform: rotate3D(1 , 0 , 0 , -180deg);
}

.wrapper .content .another p{
    padding: 100px 60px 50px 30px;
    margin:0px 20px 0px 10px;
}

.wrapper .footer{
    background-color: rgba(199, 199, 199, 0.486);
    text-align: center;
    font-style: italic;
    padding: 15px;
}

.wrapper .game{
    height: 100vh;
    font-size: 32px;
}

.wrapper .game table{
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    background-color: #b6b6b66b;
}

.wrapper .game td{
    padding:10px 19px;
    margin:10px;
}

.wrapper .game .controls{
    text-align: center;
    margin: 20px;
}

.wrapper .game button{
    font-size: 26px;
    border:0;
    border-radius: 5px;
    padding:10px;
}

.wrapper .game #redButton{
    color: red;
    background-color: red;
}
.wrapper .game #greenButton{
    color: green;
    background-color: green;
}
.wrapper .game #blueButton{
    color: blue;
    background-color: blue;
}
.wrapper .game #yellowButton{
    color: yellow;
    background-color: yellow;
}
.wrapper .game #purpleButton{
    color: purple;
    background-color: purple;
}
.wrapper .game #whiteButton{
    color: white;
    background-color: white;
}